<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049017393316-mv9j7s1nngvhlipb54sn9p8bmblfl8m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049017393316-mv9j7s1nngvhlipb54sn9p8bmblfl8m4</string>
	<key>API_KEY</key>
	<string>AIzaSyDtejTsVlv-oU3HpVFa-dJX9xmH-ycrrmM</string>
	<key>GCM_SENDER_ID</key>
	<string>1049017393316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehicleMatch</string>
	<key>PROJECT_ID</key>
	<string>vehiclematch-7b84e</string>
	<key>STORAGE_BUCKET</key>
	<string>vehiclematch-7b84e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049017393316:ios:6318e8c0e6b4748f36c631</string>
</dict>
</plist>